<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Associations</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment=content1>
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des Associations</div>
				<div class="panel-body">
					<form th:action="@{/index}" method="get">
						<label> Mot clé : </label> <input type="text" name="motCle"
							th:value="${motCle}">
						<button type="submit" class="btn btn-primary ">Chercher
							une association</button>
					</form>
				</div>
				<table class="table">
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Catégorie</th>
						<th>Ville</th>
						<th>Tel</th>
						<th>Email</th>
						<th>RNA</th>
						<th>Statut</th>
					</tr>
					<tr th:each="a:${ListAssos}">
						<td th:text="${a.assoId}"></td>
						<td th:text="${a.assoNom}"></td>
						<td th:text="${a.categorie.categorieLabel}"></td>
						<td th:text="${a.adresse.ville}"></td>
						<td th:text="${a.assoTel}"></td>
						<td th:text="${a.assoEmail}"></td>
						<td th:text="${a.rna}"></td>
						 <td th:text="${a.statut.statutLabel}"></td>
						<td><a class="btn btn-info"
							th:href="@{/editAsso(id=${a.assoId})}">Edit </a></td>


						<td><a class="btn btn-danger"
							onclick="return confirm(' Etes vous bien sûr(e)?')"
							th:href="@{/delete(id=${a.assoId},page=${currentPage},motCle=${motCle})}">Delete
						</a></td>
					</tr>
				</table>
				<ul class="nav nav-pills">
					<li th:class="${currentPage==status.index}?'active':''"
						th:each="page,status:${pages}"><a
						th:href="@{/index(page=${status.index}, motCle=${motCle})}"
						th:text="${status.index}"></a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>