<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Création profil d'association</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment=content1>
		<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">Création profil d'association</div>
		<div class="panel-body">
		
			<form th:action="@{/AssoSav}" method="post">
			
			<div class="col-md-6">
			<div class="panel panel-info">
			<div class="panel-heading">Responsable du profil</div>
			<div class="panel-body">			  				
					<div class="form-group">
						<label class="control-label">Prénom</label>
						<!-- le name doit être le meme que le nom de l'attribut
						dans ce formulaire j'avais name="nom" pour association et personne
						pour récuperer les champs j'avais un probleme
						j'ai du renommer les attribut des entités
						Personne et Association-->
						<input class="form-control" type="text" name="persoPrenom"
						th:value="${personne.persoPrenom}">
						<span th:errors="${personne.persoPrenom}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Nom</label>
						<input class="form-control" type="text" name="persoNom"
						th:value="${personne.persoNom}">
						<span th:errors="${personne.persoNom}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Date de naissance</label>
						<input class="form-control" type="text" name="persoDateNaiss"
						th:value="${personne.persoDateNaiss}">
						<span th:errors="${personne.persoDateNaiss}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">E-mail</label>
						<input class="form-control" type="text" name="persoEmail"
						th:value="${personne.persoEmail}">
						<span th:errors="${personne.persoEmail}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Login</label>
						<input class="form-control" type="text" name="persoLog"
						th:value="${personne.persoLog}">
						<span th:errors="${personne.persoLog}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Mot de passe</label>
						<input class="form-control" type="password" name="persoPsw"
						th:value="${personne.persoPsw}">
						<span th:errors="${personne.persoPsw}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Tel</label>
						<input class="form-control" type="text" name="persoTel"
						th:value="${personne.persoTel}">
						<span th:errors="${personne.persoTel}" class="text-danger"></span>
					</div>														
			</div>
			</div>
			</div>
			<div class="col-md-6">
			<div class="panel panel-info">
			<div class="panel-heading">Information de l'Association</div>
			<div class="panel-body">
				<div class="form-group">
						<label class="control-label">Nom de l'Association</label>
						<input class="form-control" type="text" name="assoNom"
						th:value="${association.assoNom}">
						<span th:errors="${association.assoNom}" class="text-danger"></span>
				</div>
				<div class="form-group">
						<label class="control-label">RNA</label>
						<input class="form-control" type="text" name="rna"
						th:value="${association.rna}">
						<span th:errors="${association.rna}" class="text-danger"></span>
				</div>
				<div class="form-group">
						<label class="control-label">Tel</label>
						<input class="form-control" type="text" name="assoTel"
						th:value="${association.assoTel}">
						<span th:errors="${association.assoTel}" class="text-danger"></span>
				</div>
				<div class="form-group">
						<label class="control-label">E-mail</label>
						<input class="form-control" type="text" name="assoEmail"
						th:value="${association.assoEmail}">
						<span th:errors="${association.assoEmail}" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Secteur de votre association</label>
					<select id="categorieId" name="categorieId" class="form-control">
                    <option th:each="categorie : ${categories}"
                            th:value="${categorie.categorieId}"
                            th:utext="${categorie.categorieLabel}"/>
            		</select>
			</div>
				<div class="panel panel-info">
								<div class="panel-heading">LOCALISATION</div>
								<div class="form-group">
									<label class="control-label">Adresse</label> <input
										class="form-control" type="text" name="rue"
										th:value="${adresse.rue}"> <span
										th:errors="${adresse.rue}" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">CP : </label> <input
										class="form-control" type="text" name="cp"
										th:value="${adresse.cp}"> <span
										th:errors="${adresse.cp}" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">Ville :</label> <input
										class="form-control" type="text" name="ville"
										th:value="${adresse.ville}"> <span
										th:errors="${adresse.ville}" class="text-danger"></span>
								</div>
							</div>
			
			<div>
			</div>
			</div>
			</div>
			<button type="submit" class="btn btn-info">Valider</button>
			</div>
			</form>
			
		</div>
		</div>	
	</div>
	</div>
</body>
</html>