<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>ENREGISTEREMENT DES DONATIONS</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
	
</head>
<body>

	<div layout:fragment=content1>
		<div class="container">
		<div class="panel panel-primary">
			
				<div class="panel panel-info">
					<div class="panel-heading">FORMULAIRE POUR UN DON</div>
					<div class="panel-body">

						<form th:action="@{/donate/save}" method="post">

							<div class="col-md-6">
								<div class="panel panel-info">
									<div class="panel-heading">RENSEIGNEMENT</div>
									<div class="panel-body">

										<div class="form-group">
											<label class="control-label"> Don destiné à
												l'association </label> <select id="assoId" name="assoId"
												class="form-control">
												<option th:each="association: ${ListAssos}"
													th:value="${association.assoId}"
													th:utext="${association.assoNom}" />
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-info">
									<div class="panel-heading">TYPE DE DON</div>
									<div class="panel-body">
									<div class="container">
  
  <form>
    <label class="radio-inline">
      <input type="radio" name="optradio" value="1" onClick="q1=1">Don Financier
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio"value="2" onClick="q1=2">Don Matériel
    </label>
   
  </form>
</div>
<a data-toggle="collapse"  href="#montant">Montant</a>
									<div id ="montant" class="panel-collapse collapse">
									
											<label class="control-label">MONTANT</label> <input
												class="form-control"type="text"  name="donMontant"
												th:value="${don.donMontant}"> <span
												th:errors="${don.donMontant}" class="text-danger"></span>
										</div>
										<a data-toggle="collapse"  href="#descp">Description</a>
										<div id="descp" class="panel-collapse collapse" >
											<label class="control-label">Description</label> <input 
												class="form-control" type ="text" name="donDescription"
												th:value="${don.donDescription}"> <span
												th:errors="${don.donDescription}" class="text-danger"></span>
										</div>
										
										
										
										
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-info">
									<div class="panel-heading">DONATEUR</div>
									<div class="panel-body">
										<div>
											<label class="control-label">Prénom</label> <input
												class="form-control" type="text" name="persoPrenom"
												th:value="${personne.persoPrenom}"> <span
												th:errors="${personne.persoPrenom}" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label class="control-label">Nom</label> <input
												class="form-control" type="text" name="persoNom"
												th:value="${personne.persoNom}"> <span
												th:errors="${personne.persoNom}" class="text-danger"></span>
										</div>

										<div class="form-group">
											<label class="control-label">E-mail</label> <input
												class="form-control" type="text" name="persoEmail"
												th:value="${personne.persoEmail}"> <span
												th:errors="${personne.persoEmail}" class="text-danger"></span>
										</div>

										<div class="form-group">
											<label class="control-label">Tel</label> <input
												class="form-control" type="text" name="persoTel"
												th:value="${personne.persoTel}"> <span
												th:errors="${personne.persoTel}" class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
							
							<div><button type="submit" class="btn btn-info">Valider</button>	
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>