<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Exercices</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment=content1>
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des Activités ou Services</div>
				<div class="panel-body">
					<form th:action="@{/ExerciceList}" method="get">
						<label> Mot clé : </label> <input type="text" name="motCle"
							th:value="${motCle}">
						<button type="submit" class="btn btn-primary ">Chercher
							</button>
							</form>
							</div>
							
						<table class="table">
						
							<tr>
							
								<th>ID </th>
								
								<th>Nom</th>
								<th>Association</th>
								<th>type</th>
								<th>Genre</th>
								 <th> Date de début</th>
								<th>horaire</th>
								<th>Nombre de places</th>
								<th>Adresse</th>
								<th>Ville</th>
								<th>CP</th>
								<th>Statut</th>
							</tr>
							 <tr th:each="a:${List}">
							 
								<td th:text="${a.exercice.exerciceId}"></td>
								<td th:text="${a.exercice.nom}"></td>
					<td th:text="${a.exercice.association.assoNom}"></td>
								<td th:text="${a.exercice.groupe.nom}"></td>
								<td th:text="${a.exercice.genre}"></td>
								
								<!-- Pas initialisée <td th:text="${a.persoDateNaiss}"></td>-->
								<td th:text="${a.exercice.dateDebut}"></td>
								<td th:text="${a.exercice.horaire}"></td>
								
								<td th:text="${a.exercice.quantite}"></td>
								<!--  <td > Probleme de recupération de la donnée association</td>
								<td > Probleme de recupération de la donnée adresse</td>-->
								<td th:text="${a.adresse.rue }"></td>
								
								 <td th:text="${a.adresse.ville }"></td>
								 <td th:text="${a.adresse.cp }"></td>
								<td  th:text="${a.exercice.statut.statutLabel}"></td>
					
								<td><a class="btn btn-info"
									th:href="@{/editExercices(id=${a.situerId})}">Edit
								</a></td>

								
								<td><a class="btn btn-danger"
									onclick="return confirm(' Etes vous bien sûr(e)?')"
									th:href="@{/delete(id=${a.situerId},page=${currentPage},motCle=${motCle})}">Delete
								</a></td>
								
							</tr> 
						</table>
						<ul class="nav nav-pills">
							<li th:class="${currentPage==status.index}?'active':''"
								th:each="page,status:${pages}"><a
								th:href="@{/ExerciceList(page=${status.index}, motCle=${motCle})}"
								th:text="${status.index}"></a></li>
						</ul>
						</div>
				</div>
			</div>
		
</body>
</html>